body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: "Changa", sans-serif;
}


header {
  background-color: #00121B;
  color: white;
  padding: 40px 0;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}


main {
  width: 1050px;
  max-width: 90%;
  margin: 0 auto;
}

h3 {
  color: #BE2F29;
  font-size: 20px;
  border-bottom: 1px solid;
  max-width: 300px;
  padding: 15px 0;
  margin: 40px 0 20px;
}

ul li {
  list-style: circle;
}

.main-list {
  line-height: 30px;
}

.main-list li {
  list-style: none;
}

.main-list a + a {
  border-left: 2px solid #26547C;
}

a {
  color: #004664;
  text-decoration: none;
  padding: 0 9px;
}

a:hover {
  color: #4690af;
}


footer {
  background-color: #00121B;
  color: white;
  margin-top: 50px;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 0;
}

footer li {
  list-style: none;
  padding: 0 6px;
}

footer li + li {
  border-left: 2px solid;
}
