/* https://coolors.co/628395-90a9b6-c1cfd7-dae2e7-d6d6d6-e0e0e0-ebebeb */

html {
  height: 100%;
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #628395;
  max-width: 500px;
  width: 95%;
  height: 95%;
  margin: 0 auto;
}

header,
main,
footer {
  background-color: white;
  padding: 20px;
}

header,
footer {
  border: 2px solid #E0E0E0;
}

main {
  flex: 1 0 auto;
  border-left: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.task {
  background-color: #EBEBEB;
  text-align: left;
  line-height: 34px;
  margin: 5px 0;
  padding-left: 5px;
}

.task:hover {
  background-color: #F5F5F5;
}

.delete-button {
  float: right;
}

.checked { 
  background-color: #D6D6D6;
  text-decoration: line-through;
}

#selected {
  background-color: #90A9B6;
}

form,
.button-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkbox {
  margin-right: 10px;
}

#input-label {
  display: none;
}

#todo-input {
  padding: 7px;
  width: 85%;
  margin-right: 10px;
}

button {
  border: none;
  background-color: #C1CFD7;
  padding: 8px 13px;
  margin: 0;
}

button:hover,
#selected:hover {
  background-color: #DAE2E7;
}

.add-task {
  font-size: 20px;
}