@media only screen and (min-width: 600px) {
  body {
    width: 1000px;
  }
  
  .full-meal {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 470px;
    height: 85%;
    border-radius: 15px;
    padding: 0 30px 30px;
  }

  .meal-list {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    grid-gap: 10px;
  }

  .meal-list li:hover {
    transform: scale(1.05);
  }

  .full-meal h2 {
    margin-top: 15px;
  }

}