body {
  font-family: 'Cairo', sans-serif;
  color: #373D3F;
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Changa', sans-serif;
}


main {
  position: relative;
  background-color: white;
  padding: 10px;
  margin: 30px 0;
}

h1 {
  background: url(../images/food.jpg) no-repeat center / auto 100%;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 30px;
  padding: 70px 0;
}

form {
  text-align: center;
  border-bottom: 1px solid #373D3F;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

form label {
  display: block;
  margin: 0 0 20px;
}

select {
  width: 200px;
  margin-right: 10px;
}

#search-button {
  background-color: #D33822;
  color: white;
  border: none;
  padding: 8px 15px;
  transition: background-color 0.2s ease;
}

#search-button:hover {
  background-color: #E1633D;
}

ul {
  padding-left: 0;
}

li {
  padding: 20px 0;
}

.full-meal h3 {
  margin: 0;
  padding-bottom: 0;
}

.meal-list {
  margin: 0;
}

.meal-list li {
  background-color: #EFF3FB;
  padding: 10px;
  margin: 20px 10px;
  transition: transform .3s ease-out;
}

.meal-list h2 {
  font-size: 18px;
  height: 45px;
  text-align: center;
}

.meal-details {
  padding-top: 0;
}

.meal-details li {
  padding: 5px 10px 0;
}


img {
  width: 100%;
}

ul li {
  list-style: none;
}

a {
  color: #D33822;
  text-decoration: none;
  transition: color .2s ease-out;
}

a:hover {
  color: #E1633D;
}

.link {
  padding-bottom: 5px;
}

.hidden {
  display: none;
}

.full-meal {
  background-color: #EFF3FB;
  color: #373D3F;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  height: 98%;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.close {
  padding: 0;
}

.close-button {
  font-size: 40px;
  position: absolute;
  right: 1%;
  background-color: #EFF3FB;
  color: #373D3F;
  transition: color .2s ease-out;
  border: none;
}

.close-button:hover {
  color: #5F6A6D;
}

.meal-heading {
  max-width: 85%;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}

.full-meal img {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: #9DA7AA 5px 5px 7px;
}

.background {
  background-color: black;
  position: fixed;
  z-index: 1;
  opacity: 0.7;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.message {
  font-size: 18px;
  background-color: #EFF3FB;
  text-align: center;
  width: 250px;
  padding: 10px;
  margin: 40px auto;
}

.no-scroll {
  overflow-y: hidden;
}